.parent {
    display: flex;
}

.child_one {
    flex-basis: 20%;
}

.child_two {
    flex-basis: 80%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto+Sans+Nag+Mundari', sans-serif;
    font-size: smaller;
}

.navbar {
    top: 0;
    width: 100%;
    height: 40px;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.navbar_title {
    color: #934c4c;
    font-weight: bold;
    text-decoration: none;
    padding-left: 8px;
}

.child_one {
    background-color: #eee;
    width: 200px;
    height: calc(100vh - 40px);
    overflow-y: scroll;
    background: #1d2021;
    border-right: 1px solid #3a3737;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.child_one::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.child_one {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.child_two {
    width: 200px;
    height: calc(100vh - 160px);
    overflow-y: scroll;
    /* Add the ability to scroll */
    background: #1d2021;
    color: #b5b5b5;
    font-family: inherit;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.child_two::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.child_two {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

a {
    text-decoration: none;
}

.sidebar {
    padding-top: 8px;
    padding-bottom: 14px;
}
.sidebar_item {
    padding: 10px 15px 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    color: #cfcdcd;
    font-size: 12px;
    color: #9b9797;
}
.sidebar_item:hover {
    padding: 10px 15px 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    color: #eeeeee;
    font-size: 12px;
    background: #292d2e;
}
.content{
    padding: 10px;
}

.material-symbols-outlined {
    font-size: 8px; 
}


.question{
    color: cadetblue;
}

.title{
    color: lightslategrey;
}



.dropbtn {
    background-color: #356037;
    color: #c0c5c2;
    padding: 11px;
    font-size: 16px;
    width: 160px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #242424;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    width: 100%;
  }
  
  .dropdown-content a {
    color: rgb(175, 175, 175);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    color: rgb(216, 216, 216);
    background-color: #3a3a3a;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #427745;
  }

  .child_three {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  background-color: #1d2021;
  height: 120px;
}

.from_{
    padding: 10px;
    border-left: 1px solid #3a3737;
}
.from_ textarea{
    width: 99%;
    height: 56px;
    resize: none;
    border: none;
    background-color: #2c3031;
    color: #3e8e41;
    outline: none;
    border-radius: 4px;
    padding: 4px;
}

.sidebar_button {
    background-color: #356037;
    color: #c0c5c2;
    padding: 11px;
    font-size: 16px;
    width: 50px;
    border: none;
    cursor: pointer;
}