{% extends "head.html" %}

{% block body %}
<style>
    .parent {
        display: flex;
    }

    .child_one {
        flex-basis: 20%;
    }

    .child_two {
        flex-basis: 80%;
    }
</style>

<div>Esto es arriba</div>
<div class="parent">
    <div class="child_one" style="padding: 10px;">
        {% for element in conversations %}
        <a href="\conversation?id={{element._id}} ">{{element.name}}</a><br>
    {% endfor  %}
    </div>
    <div class="child_two" style="padding: 10px;">
        <b>Conversación</b>
        {% if conversation %}
                {% for element2 in conversation.dialogue %}
                    <p>{{element2.question}}</p>
                    <p>{{element2.response}}</p>
                {% endfor %}
        {% endif %}
        <form action="/conversation" method="post">
            <input type="text" name="question" style="width: 100%; height: 100px;"><br>
            {% if conversation %}
            <input type="hidden" id="acticuloId" name=id value="{{ conversation._id }}">
            {% else %}
            <input type="hidden" id="acticuloId" name=id value="none">
            {% endif %}
            <input type="submit" value="Enviar">
        </form>
    </div>
</div>

{% endblock %}