{% extends "base.html" %}

{% block body %}
<style>
    .parent {
        display: flex;
    }

    .child_one {
        flex-basis: 20%;
    }

    .child_two {
        flex-basis: 80%;
    }
</style>
<div class="parent">
    <div class="child_one" style="padding: 10px; font-size:small;">
        <div >
        {% for element in conversations %}
            <a href="\{{form_action}}?id={{element._id}} ">{{element.name}}</a> <br>
    {% endfor  %}
</div>
    </div>
    <div class="child_two" style="padding: 10px; margin: 10px; font-size:small; background-color: #ffffff;">
        {% if conversation %}
        <h4><b>{{conversation.name}}</b></h4>
        {% else %}
            <h4><b>iniciar nueva conversacion</b></h4>
        {% endif %}
        {% if conversation %}
            {% for element2 in conversation.dialogue %}
                <b><p>{{element2.question|safe}}</p></b>
                <p>{{element2.answer|safe}}</p>
            {% endfor %}
        {% endif %}
        <form action="/{{form_action}} " method="post">
            <div >
                <textarea name="question" rows="3" style="font-size: small;"></textarea>
                {% if conversation %}
                <input type="hidden" id="acticuloId" name=id value="{{ conversation._id }}">
                {% else %}
                <input type="hidden" id="acticuloId" name=id value="none">
                {% endif %}
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}